#header{width:1510px;
height:160px;
margin-left:0px;
background-image:url(../images/m3.jpg);
margin-top:0px;}
.mybody{background-color:#fff0f5;
width:1510px;
color:#69f;}
#logo{width:180px;
height:160px;
background-image:url(../images/j3.jpg);
margin-left:200px;
background-repeat:no-repeat;
float:left;}
#zi{float:left;
margin-left:100px;
margin-top:50px;
font-size:3em;
color:black;}
#zi1{float:left;
margin-left:200px;
margin-top:50px;
font-size:3em;
color:black;}
#banner{width:1510px;
height:50px;
background-color:pink;
margin-left:0px;}
#a1{
margin-left:60px;
margin-top:15px;
float:left;}
#t2{margin-left:200px;
margin-top:13px;
float:left;}
#b2{margin-top:15px;
float:left;}
#content{width:1100px;
height:600px;
margin-left:250px;}
#footer{
border:1px solid black;
height:100px;
margin-left:0px;
padding-left:250px;
background-image:url(../images/m3.jpg);}
#foot{margin-left:290px;
margin-top:20px;
width:500px;
height:30;
color:black;}
#foot1{margin-left:330px;
color:black;}
#foot2{margin-left:317px;
margin-top:0px;
width:500px;
height:30;
color:black;}
#mianbao{margin-left:25px;
height:20px;}
#biaoti{width:600px;
height:50px;
padding-left:400px;
font-size:2em;
border:1px solid black;}
#left{width:450px;
float:left;
height:520px;}
#middle{
width:90px;;
float:left;
font-size:3em;
padding-top:120px;
padding-left:40px;}
#right{width:430px;
height:520px;
float:left;}
#tu1{width:150px;
height:250px;
background-image:url(../images/q8.jpg);
float:left;}
#tu2{width:148px;
height:250px;
background-image:url(../images/q9.jpg);
float:left;
margin-left:1px;}
#tu3{width:150px;
height:250px;
background-image:url(../images/qj3.jpg);
float:left;}
#tu4{width:140px;
height:250px;
background-image:url(../images/y1.jpg);
float:left;
margin-left:3px;}
#tu5{width:140px;
height:250px;
background-image:url(../images/psb4.jpg);
float:left;
margin-left:3px;}
#tu6{width:140px;
height:250px;
background-image:url(../images/y2jpg.jpg);
float:left;
margin-left:3px;}
#gan1{
width:450px;
height:250px;
margin-top:260px;
background-image:url(../images/p5.jpg);}
#pinglun{width:1000px;
height:100px;
margin-top:5px;
margin-left:250px;
color:black;
font-size:2em;}
#liebiao{width:1010px;
height:200px;
margin-top:5px;
margin-left:250px;}
#lie{padding-left:440px;
padding-top:10px;
color:black;}
#biao{padding-left:300px;}
#kuang{background-color:#fff0f5;}
#gan2{
width:450px;
height:250px;
margin-top:260px;
background-image:url(../images/p5.jpg);}
#hua1{width:250px;
height:250px;
margin-left:100px;
padding-top:30px;
color:gray;}
#hua2{width:250px;
height:250px;
margin-left:100px;
padding-top:20px;
color:gray;}
a{text-decoration:none;
color:black;}
