#header{width:1510px;
height:160px;
margin-left:0px;
background-image:url(../images/m3.jpg);
margin-top:0px;}
.mybody{background-color:#fff0f5;
width:1510px;}
#logo{width:180px;
height:160px;
background-image:url(../images/j3.jpg);
margin-left:200px;
background-repeat:no-repeat;
float:left;}
#zi{float:left;
margin-left:100px;
margin-top:50px;
font-size:3em;}
#zi1{float:left;
margin-left:200px;
margin-top:50px;
font-size:3em;}
#banner{width:1510px;
height:50px;
background-color:pink;
margin-left:0px;}
#a1{
margin-left:60px;
margin-top:15px;
float:left;}
#t2{margin-left:200px;
margin-top:13px;
float:left;}
#b2{margin-top:15px;
float:left;}
#content{width:1000px;
margin-left:250px;
height:460px;
background-image:url(../images/timg.jpg);
}
#left{width:200px;
height:430px;
margin-top:20px;
margin-left:20px;
float:left;}
#right{width:700px;
height:430px;
margin-top:20px;
margin-left:50px;
float:left;}
#tab{width:180px;
height:200px;
margin-top:10px;
margin-left:10px;}
#liuyan{width:180px;
height:200px;
margin-top:10px;
margin-left:10px;}
#deng{margin-left:70px;}
#wangji{margin-top:30px;
margin-left:20px;}
#liu{margin-left:50px;}
#kuang{margin-left:15px;
margin-top:10px;}
#tian{margin-left:300px;
margin-top:10px;
width:600px;
height:30px;}
#nei{width:600px;
height:180px;
margin-left:40px;
background-image:url(../images/q4.jpg);
background-repeat:no-repeat;}
#yue{width:400px;
height:100px;
margin-top:0px;
margin-left:200px;
padding-top:25px;}
#tu{background-image:url(../images/j2.jpg);
width:300px;
height:150px;
margin-top:20px;
margin-left:40px;
float:left;}
#wenzi{width:300px;
height:150px;
border:1px solid black;
float:left;
margin-left:20px;
margin-top:20px;
background-image:url(../images/q1.jpg);}
#footer{
height:100px;
margin-left:0px;
padding-left:250px;
background-image:url(../images/m3.jpg);}
#foot{margin-left:290px;
margin-top:20px;
width:500px;
height:30;
color:black;}
#foot1{margin-left:330px;
color:black;}
#foot2{margin-left:317px;
margin-top:0px;
width:500px;
height:30;
color:black;}
a{text-decoration:none;
color:black;}