#header{width:1510px;
height:160px;
margin-left:0px;
background-image:url(../images/m3.jpg);
margin-top:0px;}
.mybody{background-color:#fff0f5;
width:1510px;
color:#69f;}
#logo{width:180px;
height:160px;
background-image:url(../images/j3.jpg);
margin-left:200px;
background-repeat:no-repeat;
float:left;}
#zi{float:left;
margin-left:100px;
margin-top:50px;
font-size:3em;
color:black;}
#zi1{float:left;
margin-left:200px;
margin-top:50px;
font-size:3em;
color:black;}
#banner{width:1510px;
height:50px;
background-color:pink;
margin-left:0px;}
#a1{margin-left:60px;
margin-top:15px;
float:left;}
#t2{margin-left:200px;
margin-top:13px;
float:left;}
#b2{margin-top:15px;
float:left;}
#content{width:1100px;
height:460px;
border:1px solid black;
margin-left:200px;}
#footer{width:1100px;
height:100px;
margin-left:200px;
margin-top:0px;}
#mianbao{margin-left:25px;
height:2px;}
#left{width:200px;
height:400px;
margin-top:30px;
margin-left:25px;
float:left;
background-image:url(../images/timg.jpg);}
#middle{width:600px;
height:400px;
margin-left:20px;
margin-top:30px;
float:left;
background-image:url(../images/timg.jpg);}
#right{width:200px;
height:400px;
margin-top:30px;
margin-left:20px;
float:left;
background-image:url(../images/timg.jpg);}
#top{height:180px;}
#timu{height:20px;
font-size:1.5em;
margin-top:5px;
margin-left:45px;}
#mu{margin-top:50px;
margin-left:30px;
color:red;}
#hua{height:50px;
width:50px;
background-image:url(../images/c8.jpg);}
#zhuan{margin-left:50px;
font-size:1.5em;}
#ti{margin-left:21px;
color:red;}
a{color:black;}
#youxue{height:180px;}
#xiao{height:50px;
width:50px;
background-image:url(../images/c8.jpg);
margin-left:140px;
margin-top:10px;}
#you{margin-left:60px;
font-size:1.5em;}
#xue{margin-left:21px;
color:red;}
#zhan{margin-left:50px;
font-size:1.5em;
margin-top:20px;}
#shi{margin-left:30px;
margin-top:40px;
color:red;}
#neirong{margin-left:230px;
font-size:2em;
height:50px;}
#rong{margin-left:20px;
margin-top:20px;
width:300px;
float:left;}
#shijian{float:left;
margin-left:80px;
margin-top:20px;
width:200px;}
#shijian ul li{
	list-style-type:none;
	color:black;
}
#ji{width:600px;}
a{text-decoration:none;}
#footer{
height:100px;
margin-left:0px;
padding-left:250px;
background-image:url(../images/m3.jpg);
width:1257px;}
#foot{margin-left:290px;
margin-top:20px;
width:500px;
height:30;
color:black;}
#foot1{margin-left:330px;
color:black;}
#foot2{margin-left:317px;
margin-top:0px;
width:500px;
height:30;
color:black;}
#fenye{margin-top:430px;
margin-left:470px;}
a{text-decoration:none;}